In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sqlite3
from glob import glob

%matplotlib inline

In [2]:
csv_files = glob("./zippedData/*.csv.gz")
csv_files

['./zippedData/imdb.title.crew.csv.gz',
 './zippedData/tmdb.movies.csv.gz',
 './zippedData/imdb.title.akas.csv.gz',
 './zippedData/imdb.title.ratings.csv.gz',
 './zippedData/imdb.name.basics.csv.gz',
 './zippedData/imdb.title.basics.csv.gz',
 './zippedData/tn.movie_budgets.csv.gz',
 './zippedData/bom.movie_gross.csv.gz',
 './zippedData/imdb.title.principals.csv.gz']

In [3]:
csv_files_dict = {}
for filename in csv_files:
    filename_cleaned = os.path.basename(filename).replace('.csv.gz', "").replace('.','_')
    filename_df = pd.read_csv(filename, index_col = 0)
    csv_files_dict[filename_cleaned] = filename_df

In [11]:
title_basics_df = csv_files_dict['imdb_title_basics']
title_basics_df.head()

,primary_title,original_title,start_year,runtime_minutes,genres
tconst,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [12]:
title_basics_df.shape

(146144, 5)

In [13]:
title_basics_df.describe()

          start_year  runtime_minutes
count  146144.000000    114405.000000
mean     2014.621798        86.187247
std         2.733583       166.360590
min      2010.000000         1.000000
25%      2012.000000        70.000000
50%      2015.000000        87.000000
75%      2017.000000        99.000000
max      2115.000000     51420.000000

In [14]:
title_basics_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 146144 entries, tt0063540 to tt9916754
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   primary_title    146144 non-null  object
 1   original_title   146123 non-null  object
 2   start_year       146144 non-null  int64
 3   runtime_minutes  114405 non-null  float64
 4   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 6.7+ MB

In [8]:
imdb_title_basics_df.isna().sum()

primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64

In [9]:
for col in title_basics_df:
    print(col)
    print(title_basics_df[col].value_counts(normalize = True)[:10])
    print('============================================================')

primary_title
Home          0.000164
The Return    0.000137
Broken        0.000137
Alone         0.000109
Homecoming    0.000109
Gone          0.000103
Freedom       0.000096
Together      0.000089
The Gift      0.000089
Run           0.000089
Name: primary_title, dtype: float64
============================================================
original_title
Broken         0.000130
Home           0.000123
The Return     0.000116
Homecoming     0.000089
Freedom        0.000089
The Gift       0.000089
Alone          0.000089
Gone           0.000082
Run            0.000082
The Journey    0.000075
Name: original_title, dtype: float64
============================================================
start_year
2017    0.119772
2016    0.118185
2018    0.115290
2015    0.111144
2014    0.106669
2013    0.100647
2012    0.094338
2011    0.088269
2010    0.081078
2019    0.057334
Name: start_year, dtype: float64
============================================================
runtime_minutes
90.0     0.062331
80.0     0.030820
85.0     0.025480
100.0    0.023268
95.0     0.022280
           ...
140.0    0.002780
124.0    0.002745
121.0    0.002736
127.0    0.002491
10.0     0.002482
Name: runtime_minutes, Length: 87, dtype: float64
============================================================
genres
Documentary              0.228691
Drama                    0.152669
Comedy                   0.065207
Horror                   0.031065
Comedy,Drama             0.025004
Thriller                 0.021643
Action                   0.015767
Biography,Documentary    0.015028
Drama,Romance            0.014772
Comedy,Drama,Romance     0.011070
Name: genres, dtype: float64
============================================================